POSTGRES_USER=cs_user
POSTGRES_PASSWORD=localpassword
POSTGRES_DB=cs_tool_hub

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

MINIO_ROOT_USER=local_access_key
MINIO_ROOT_PASSWORD=local_secret_key